html{
    font-size: 100%;
}

*{
    margin: 0;
    padding: 0;
}

body{
    color: #2d2d2d;
    font-family: 'Crimson Text',serif;
}

img{
    max-width: 100%;
    vertical-align: bottom;
}

a{
    color: #2d2d2d;
    text-decoration: none;
}

ul{
    list-style: none;
}

#mainvisual{
    width: 90vw;
    margin: 0 auto 0 auto;
}

#mainvisual img{
    margin-top: 4%;
}

header{
    width: 90vw;
    display: flex;
    align-items: center;
    padding: 32px 0;
    margin: 0 auto 30px auto;
}

.site-title{
    width: 110px;
    line-height: 1px;
    margin-right: 50px;
}

.site-title a{
    display: block;
}

#header ul{
    display: flex;
}

#header li{
    font-size: 0.875rem;
    margin-right: 30px;
    width: 200px;
}

#header li:last-child{
    margin-right: 0;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 18px;
}

.content{
    display: flex;
    align-items: center;
    margin-bottom: 60px;
}

.content .img{
    width: 50%;
}

.content .text{
    width: 50%;
    padding: 0 7%;
}

.section-title{
    font-size: 1.5rem;
    font-weight: normal;
    margin-bottom: 4px;
}

.section-title-en{
    display: inline-block;
    margin-bottom: 25px;
}

footer{
    display: flex;
    justify-content: space-between;
    font-size: 0.875rem;
    padding: 20px 0;
}

#footer .logo{
    width: 110px;
}

@media( max-width: 767px ){
    #mainvisual{
        width: 100%;
        margin: 0;
    }

    #mainvisual img{
        width: 100%;
        height: 50vh;
        object-fit: cover;
    }

    #header{
        width: 100%;
        padding: 20px 18px;
    }
    
    .content{
        flex-direction: column;
    }

    .content .img{
        width: 100%;
        margin-bottom: 10px;
    }

    .content .text{
        width: 100%;
        padding: 0;
    }

    .section-title{
        font-size: 1.25rem;
    }

    #work{
        flex-direction: column-reverse;
    }
}